<div class="row">
    @using (Html.BeginForm("AddEndereco", "User", FormMethod.Post))
    {
        <h4>Novo Endereço</h4>
        <dl class="col-lg-offset-1">
            <dt>Descrição</dt>
            <dd><input class="form-control" type="text" name="descricao" required/></dd>
            <dt>Logradouro</dt>
            <dd><input class="form-control" type="text" name="logradouro" required /></dd>
            <dt>CEP</dt>
            <dd><input class="form-control" type="text" name="cep" required/></dd>
            <dt>Bairro</dt>
            <dd><input class="form-control" type="text" name="bairro" required /></dd>
            <dt>Numero</dt>
            <dd><input class="form-control" type="text" name="numero" required/></dd>
            <dt>Complemento</dt>
            <dd><input class="form-control" type="text" name="complemento" required/></dd>
        </dl>
        <div class="row col-lg-offset-1">
            <button class="btn btn-sm"><span class="glyphicon glyphicon-save"></span> Salvar</button>
        </div>

    }

</div>

